/* Reset básico para tirar margens padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace; /* Fonte estilo código */
}

body {
    background-color: #1a1a1a; /* Fundo escuro */
    color: #f0f0f0; /* Texto claro */
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5%;
}

header>nav>a {
    text-decoration: none;
    color: aliceblue;
}

main {
    display: flex;
    margin: 10%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.582);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(112, 112, 112, 0.562);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

img {
  border-radius: 5px 5px 0 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    font-size: 0.8rem;
    text-align: center;
}